
.container-master{
  width: 100vw;
  height: 100vh;
  .container-principal{
    padding: 2em 1em 0 1em;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: url('https://www.toptal.com/designers/subtlepatterns/patterns/spikes.png');
  }
  
}