.login-container{
  background: url('https://www.toptal.com/designers/subtlepatterns/patterns/spikes.png');
  form{
    background: white;
    h1{
      font-family: 'Montserrat', sans-serif;
    }
  }
  .wrap-login{
    text-align: center;
    padding: 2em;
    box-shadow: 0px 0px 9px #ccc;
  
  }
}
