<div fxLayout="row" fxFlexFill fxLayoutAlign="center center" class="login-container">
  <form fxFlex="25%" fxFlex.lt-md="50%" fxFlex.lt-sm="80%" class="wrap-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Demo App</h1>
      <mat-form-field appearance="fill">
          <mat-label>Usuario</mat-label>
          <input matInput type="text" formControlName="user">
          <div class="error">
            <ng-container *ngIf="loginForm.controls['user'].errors?.required && (loginForm.controls['user'].touched || loginForm.controls['user'].dirty)">El usuario es requerido</ng-container>
            <ng-container *ngIf="loginForm.controls['user'].errors?.minlength && (loginForm.controls['user'].touched || loginForm.controls['user'].dirty)">Mínimo debes tener 3 caracteres</ng-container>
          </div>          
        </mat-form-field><br/>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <div class="error">
            <ng-container *ngIf="loginForm.controls['password'].errors?.required && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)">El password es requerido</ng-container>
            <ng-container *ngIf="loginForm.controls['password'].errors?.minlength && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)">Mínimo debes tener 3 caracteres</ng-container>      
          </div>
        </mat-form-field> <br>

        <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Acceder</button>
      </form>
</div>