
<div class="region-cast" fxLayout="column"  fxFlexFill fxLayoutAlign="center center">
   <div style="margin-bottom: 2em;">
      <h2>Parse Data</h2>
      <mat-slide-toggle
        class="example-margin"
        [color]="'primary'"
        (change)="change($event.checked)"
        >
        Invertir
    </mat-slide-toggle>
   </div>
   <div fxLayout.gt-xs="row" fxLayout="column" style="width: 100%;">
      <textarea fxFlex="40" matInput [ngModel]="in" readonly></textarea>
      <div fxFlex fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="procesar()">Procesar </button>
      </div>
      <textarea fxFlex="40" matInput placeholder="Salida" [ngModel]="out" readonly></textarea>
  
   </div>
  
</div>