.region-dashboard{
    h1{
        font-size: 2.5em;
        font-family: 'Montserrat', sans-serif;
    }
    form{
        padding: 2em;
        box-shadow: 0 0 7px #CCC;
        min-width: 270px;
        text-align: center;
        background: white;

        & ::ng-deep .mat-form-field{
            width: 100%;
        }
    }
} 

