<div class="region-dashboard" fxLayout="column" fxFlexFill fxLayoutAlign="center center">
    <h1>Reservación</h1>
    <form [formGroup]="dashForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="nombre">
        <div class="error" *ngIf="dashForm.controls['nombre'].errors?.required && (dashForm.controls['nombre'].touched || dashForm.controls['nombre'].dirty)">
          El nombre es requerido
        </div>
      </mat-form-field>      
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput type="email" formControlName="email">
        <div class="error" *ngIf="dashForm.controls['email'].errors?.required && (dashForm.controls['email'].touched || dashForm.controls['email'].dirty)">
          Es necesario un correo
        </div>        
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepickerFilter]="dateFilter"  [matDatepicker]="picker" formControlName="fechaReserva">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <div class="error" *ngIf="dashForm.controls['fechaReserva'].errors?.required && (dashForm.controls['fechaReserva'].touched || dashForm.controls['fechaReserva'].dirty)">
          La fecha es necesaria
        </div>           
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Paises</mat-label>
        <mat-select formControlName="pais">
          <mat-option *ngFor="let pais of paises" [value]="pais?.value">
            {{pais?.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
    <button type="submit" mat-raised-button color="primary" [disabled]="!dashForm.valid">Reservar</button>
    </form>
</div>