<mat-toolbar color="primary" class="nav-toolbar">
  <span fxHide.xs="true" fxHide.lg="false">Daniel Pérez Cabrera</span>
  <span fxHide.xs="false" fxHide.lg="true">DPC</span>
  <div class="actions">
    <button mat-flat-button color="primary" [routerLink]="['/']" >C1</button>
    <button mat-flat-button color="primary" [routerLink]="['/dashboard']">Dashboards</button>
    <button mat-flat-button color="primary" (click)="logout()">Salir</button>
  </div>
</mat-toolbar>